{% extends 'polyana/base.html' %}

{% block content %}

  <div class="col-md-12">
    <h1>Welcome, {{ user.username }}!</h2>
    <br>
        <div class="row">

            <div class="col-md-7">
              <h3>Your info</h3><br>
              <p>
              <h4>Money:</h4>
                {% for m in money %}
                  <p>{{m.currency.currency_type}}: {{m.amount}}</p>
                {% endfor %}
                </p>
                <br>
                <h4>Statistics:</h4>
                <p>Played battles: {{ player.played_battles }}<br></p>
                <p>Battles won: {{ player.battles_won }}<br></p>
                <p>Winrate: {{ player.winrate | floatformat:3 }}<br></p>
            </div>
                <div class="col-md-5 text-center">
                  <h4>Leaderboard:</h4>
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Nickname</th>
                              <th>Winrate</th>
                              <th>Played battles</th>
                          <tr>
                      </thead>
                      <tbody>
                          {% for leader in leaders %}
                          <tr>
                              <td>{{ leader.nickname }}</td>
                              <td>{{ leader.winrate | floatformat:3}}</td>
                              <td>{{ leader.played_battles }}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                </div>
            </div>
    </div>

{% endblock %}
